@import url('leaflet/dist/leaflet.css');
@import url('leaflet.markercluster/dist/MarkerCluster.Default.css');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 지도 때문에 스크롤이 생기는 것을 방지 */
}

.map-container {
  width: 100%;
  height: calc(100vh - 60px);
}